<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176759553575-96vv7euq4n86kli2oort9mb11saa4ni3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176759553575-96vv7euq4n86kli2oort9mb11saa4ni3</string>
	<key>API_KEY</key>
	<string>AIzaSyCmBbNZEAe14C8PD0hZ3ZXXwdkOKY5dlkY</string>
	<key>GCM_SENDER_ID</key>
	<string>176759553575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streammii</string>
	<key>PROJECT_ID</key>
	<string>streammii-48521</string>
	<key>STORAGE_BUCKET</key>
	<string>streammii-48521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176759553575:ios:bb21fbe883e48c65d6d802</string>
</dict>
</plist>